<!--Footer Navigation Bar-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      
      <h4 class="display-6 navbar-text" >&copy; 2020 All rights reserved</h4>
    
    </nav>

  </footer>