
<!DOCTYPE html>
<html lang="en">
 <%- include partials/header.ejs%>

 <%- include partials/main_nav.ejs%>

 <script src="/Scripts/app.js"></script>
 <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="/jquery/dist/jquery.min.js"></script>
  <!--Main Section-->

    <!-- <main class="container"> -->
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    General Programming Services 
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <img style="height: 400px;width: 700px;" src=".\Assets\images\programmer.JPEG"/> 

                   <p style="font-size:large;color:black">JavaScript, HTML, XML, etc
                    C/C++ Programming Languages
                    Web-based server services (Apache, etc.)
                    Databases (MySQL, MS SQL, Oracle, etc.)
                    Ontologies (OWL, Protégé, etc.)
                    Information Assurance (STIG, RMF, etc.)
                    JAVA applications
                    Agile software development (Scrum, XP, etc.)
                    Unit Testing/Automated Testing
                    UML Modeling
                    Basic CM (Subversion, CVS, etc.)
                    MS Office Skills (Word, Excel, PowerPoint, etc.)
                    OS (Unix based, Microsoft Windows based)
                    Experience with Java REST tools such as Jersey, JAXB, and Swagger a plus
                    Experience with JavaScript frameworks and tools such as React, Bootstrap, Redux, Immutable, NPM, Gulp, Browserify, Babel, ESLint.i </p> 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Web Development Services
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <img style="height: 400px;width: 700px;" src=".\Assets\images\webDevelopment.JPEG"/> 

                    <p style="font-size:large;color:black">JavaScript, HTML, XML, etc
                     C/C++ Programming Languages
                     Web-based server services (Apache, etc.)
                     Databases (MySQL, MS SQL, Oracle, etc.)
                     Ontologies (OWL, Protégé, etc.)
                     Information Assurance (STIG, RMF, etc.)
                     JAVA applications
                     Agile software development (Scrum, XP, etc.)
                     Unit Testing/Automated Testing
                     UML Modeling
                     Basic CM (Subversion, CVS, etc.)
                     MS Office Skills (Word, Excel, PowerPoint, etc.)
                     OS (Unix based, Microsoft Windows based)
                     Experience with Java REST tools such as Jersey, JAXB, and Swagger a plus
                     Experience with JavaScript frameworks and tools such as React, Bootstrap, Redux, Immutable, NPM, Gulp, Browserify, Babel, ESLint.i </p> 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Mobile Applications
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <img style="height: 400px;width: 700px;" src=".\Assets\images\mobileApps.JPEG"/> 

                    <p style="font-size:large;color:black">JavaScript, HTML, XML, etc
                     C/C++ Programming Languages
                     Web-based server services (Apache, etc.)
                     Databases (MySQL, MS SQL, Oracle, etc.)
                     Ontologies (OWL, Protégé, etc.)
                     Information Assurance (STIG, RMF, etc.)
                     JAVA applications
                     Agile software development (Scrum, XP, etc.)
                     Unit Testing/Automated Testing
                     UML Modeling
                     Basic CM (Subversion, CVS, etc.)
                     MS Office Skills (Word, Excel, PowerPoint, etc.)
                     OS (Unix based, Microsoft Windows based)
                     Experience with Java REST tools such as Jersey, JAXB, and Swagger a plus
                     Experience with JavaScript frameworks and tools such as React, Bootstrap, Redux, Immutable, NPM, Gulp, Browserify, Babel, ESLint.i </p>
                </div>
              </div>
            </div>
          </div>












  <!-- </main> -->

  
  <%- include partials/bottom_nav.ejs%>
    
  <%- include partials/footer.ejs%>
 